# Ignore OS and editor junk everywhere
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*~
.nfs*

# Ignore everything else by default
*
!.gitignore
!.gitinclude
!README.md
!setup.sh

# Unignore these folders and everything in them
!macos/
!macos/**
!linux/
!linux/**
!common/
!common/**
