# Ignore OS and editor junk everywhere
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*~
.nfs*

# Ignore everything else by default
*
!.gitignore
!.gitinclude
!README.md
!setup.sh

# Unignore XDG directories and everything in them
!.config/
!.config/**
!.local/
!.local/**
!scripts/
!scripts/**
